---
const brain = String.raw`
                __---~~~~--__                       __--~~~~---__
             _-~              ~-_                 _-~              ~-_
           _-                    -_             _-                    -_
          /   __--~~~~--__         \           /         __--~~~~--__   \
         /  _~            ~-_       |         |       _-~            ~_  \
        /  /   _--~~~~--_   \      |         |      /   _--~~~~--_   \  \
       |  |   /          \   |     |         |     |   /          \   |  |
       |  |  |  _--~~--_  |  |     |         |     |  |  _--~~--_  |  |  |
       |  |  | /        \ |  |     |         |     |  | /        \ |  |  |
        \  \  \__      __/  /     /           \     \  \__      __/  /  /
         \  ~-_  ~----~  _-~    _/             \_    ~-_  ~----~  _-~  /
          -_   ~--____--~     _-                 -_     ~--____--~   _-
            ~-_            _-~    .--.     .--.    ~-_            _-~
               ~--______--~      /    \___/    \      ~--______--~
                    |           /   /\     /\   \           |
                    |          |   /  \___/  \   |          |
                    |          |  |  _     _  |  |          |
                    |           \  \_\_____/  /  /          |
                     \           ~-_       _-~           /
                      ~-_           ~-----~           _-~
                         ~--__                 __--~
                              ~---_________---~
`;
---

<div class="hidden justify-end lg:flex" aria-hidden="true">
  <pre
    class="font-terminal max-w-full select-none overflow-hidden whitespace-pre text-[11px] leading-[0.95] text-white/70 xl:text-[12px]">{brain.trimEnd()}</pre>
</div>
